*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.run.xml
*.bak
*.bcf
*.cb

*/*.aux
*/*.fdb_latexmk
*/*.fls
*/*.log
*/*.synctex.gz
*/*.toc
*/*.bbl
*/*.blg
*/*.idx
*/*.ind
*/*.lof
*/*.lot
*/*.out
*/*.run.xml
*/*.bak
*/*.bcf
*/*.cb